<h2 mat-dialog-title>{{ data?.id ? 'Editar Reliquia' : 'Nueva Reliquia' }}</h2>

<mat-dialog-content>
  <form [formGroup]="form" class="form-container">
    
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nombre de la reliquia</mat-label>
      <input matInput formControlName="nombre" placeholder="Ej. Cáliz Sagrado">
      <mat-error *ngIf="form.get('nombre')?.hasError('required')">El nombre es obligatorio</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Descripción breve</mat-label>
      <textarea matInput formControlName="descripcion" rows="3"></textarea>
      <mat-error *ngIf="form.get('descripcion')?.hasError('required')">La descripción es obligatoria</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Historia (Opcional)</mat-label>
      <textarea matInput formControlName="historia" rows="3"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>URL de la imagen (Opcional)</mat-label>
      <input matInput formControlName="imageUrl" placeholder="https://...">
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="guardar()" [disabled]="form.invalid">
    Guardar
  </button>
</mat-dialog-actions>